@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

.button_icon{
    font-family: 'Kiwi Maru', serif;
}

.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 20px;
}