@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

.button_area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_around{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.magic_button{
    margin-bottom: 1rem !important;
}

.side_bar{
    margin-top: 5px;
}

.theme{
    padding-left: 1rem;
}

.themename{
    font-family: 'Kiwi Maru', serif;
}

.time{
    padding-left: 1rem;
    margin-bottom: 2px;
}

.time_body{
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: 'Kiwi Maru', serif;
}

.title{
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'DotGothic16', sans-serif;
}

.member{
    padding-left: 1rem;
    font-family: 'Kiwi Maru', serif;
}