@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

button{
    color: white;
}

button:hover{
    cursor: pointer;
}

/*home_header*/
.home_header{
    display:block;
    position: relative;
    text-align: center;
    font-size:36px;
}

.icon{
    display:flex;
    flex-direction:column;
    width:70%;
    transform:translate(13%,0);
    align-items:center;
}

.detail{
    text-align:center;
    width:45%;
    transform:translate(100%,0);
}
