@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

button{
    color: white;
    font-family:"kiwi maru", serif;
}

button:hover{
    cursor: pointer;
}

.button_around{
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*home_header*/
.home_header{
    display:block;
    position: relative;
    text-align: center;
    font-size:36px;
}

.icon{
    display:flex;
    flex-direction:column;
    width:70%;
    transform:translate(13%,0);
    align-items:center;
}

.buttons{
    border-radius: 8px;
    font-family: 'Kiwi Maru', serif;
    font-size: 25px;
    margin-bottom: 1rem;
}

