@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap");

button {
  background-color: #7882b0;
  color: white;
}

button:hover {
  cursor: pointer;
}

.whole {
  margin-top: 5px;
  margin-left: 5px;
  padding-left: 5px;
  background-color: #fdf5de;
}

.idea_area {
  padding: 8px;
  margin: 8px;
}

.idea_list {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-bottom: 8px;
  font-family: "Kiwi Maru", serif;
}

.idea_list button {
  margin-left: 1rem;
}

.input_area {
  padding-left: 8px;
  margin-left: 8px;
  margin-top: 0;
  padding-top: 0;
  display: flex;
  flex-flow: culumn;
  align-items: center;
}

.input_button {
  padding-left: 8px;
}

.title {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  color: #666;
  font-size: 25px;
  font-family: "Yusei Magic", sans-serif;
}

.title_area {
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.title_string {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 2px;
  font-family: "Kiwi Maru", serif;
}

/*  */
.card_area {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5% 0 6% 5%;
}

.card {
  width: 100px;
  height: 150px;
  background-color: #ffc271;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #333;
  border: 1px solid #dca202;
  border-radius: 5px;
}

.card_center {
  width: 100px;
  height: 150px;
  background-color: #ffc271;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #333;
  border: 1px solid #dca202;
  border-radius: 5px;
  margin-left: 170px;
}