@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

.around_icon{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button_around{
    margin-bottom:250x;
}

.button_icon{
    font-family: 'Kiwi Maru', serif;
}

.box{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 400;
    margin-bottom: 20px;
}

.icon{
    padding: 0;
    margin-top: 0;
    margin-bottom: 2px;
}

.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 40px;
    margin-bottom: 2rem;
    padding-bottom: 0;
}